/* line 1, ../sass/main.sass */
todoapp, todo {
  display: block; }

/* line 4, ../sass/main.sass */
input {
  margin-left: 5px;
  margin-right: 5px; }

/* line 7, ../sass/main.sass */
.row {
  margin-bottom: 10px; }
